<%= simple_form_for(@status) do |f| %>
  <% if @status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

      <ul>
      <% @status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.label :tags, "* Tags (separated by commas)", :class => "small-text gray", :id=>"edit_tag_list"  %></p>
  <p><%= f.text_area :tag_list, :class => "text required form-control" %></p>
  <div class="field edit-status-content"><%= f.input :content %><br></div>
  <div class="form-actions">
    <%= f.button :submit, :class=> "status-submit-button center" %>
  </div>
<% end %>
