<div id="news-feed" class="col-md-8">
  <div class="page-header">
    <h1>News Feed</h1>
  </div>
  <div id="all-posts">
    <% @statuses.each do |status| %>
      <div class="status">
        <p><%= link_to status.content, status %></p>
        <div class = "tag">
          <% if status.tags.any? %>
            <p>Tags:
            <% status.tags.each do |tag| %>
              <% if User.search(tag.name) %>
                <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
              <% end %>
              <% if Facility.find_by_name(tag.name) %>
                <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
              <% end %>
            <% end %>
            </p>
          <% end %>
        </div>
        <div class="meta">
          <%= time_ago_in_words(status.created_at) + " ago " %>
          | <%= status.user_comments.count %> comment(s)
          | <%= status.get_likes.size %> pick(s)
        </div>
      </div>
    <% end %>
    <% if @statuses.length > 0 %>
      <%= will_paginate @statuses %>
    <% end %>
  </div>
</div>

<div id="index-side-bar" class="col-md-4">
  <div id="popular-tag-box">
    <% if popular_tags.any? %>
      <div id="popular-header">
          <h3>Most Popular Tag(s)</h3>
      </div>
      <div id="popular-tags">
        <% popular_tags.each do |tag| %>
          <% if User.search(tag.name) %>
            <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
          <% end %>
          <% if Facility.find_by_name(tag.name) %>
            <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
  <% if @popular_statuses.any? %>
    <div id="index-side-bar" class="col-lg-12 col-md-4">
      <div id="popular-status-box">
        <div id="popular-header">
          <h3>Most Popular Status(es)</h3>
        </div>
        <div id="popular-posts" style="border: 1px solid #6ADA4A;">
          <% @popular_statuses.each do |status| %>
            <div class="status">
              <p><%= link_to status.content, status %></p>
              <div class = "tag">
                <% if status.tags.any? %>
                  <p>Tags:
                  <% status.tags.each do |tag| %>
                    <% if User.search(tag.name) %>
                      <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
                    <% end %>
                    <% if Facility.find_by_name(tag.name) %>
                      <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
                    <% end %>
                  <% end %>
                  </p>
                <% end %>
              </div>
              <div class="meta">
                <%= time_ago_in_words(status.created_at) + " ago " %>
                | <%= status.user_comments.count %> comment(s)
                | <%= status.get_likes.size %> pick(s)
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
