<h1></h1>
<div class = "tag">
  <% if @status.tags.any? %>
  <p>
    <strong>Tags:</strong>
    <% @status.tags.each do |tag| %>
      <% if User.search(tag.name) %>
        <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
      <% end %>
      <% if Facility.find_by_name(tag.name) %>
        <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
      <% end %>
    <% end %>
  </p>
  <% end %>
</div>
<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>
<p>
  <strong>Created at:</strong>
  <%= @status.created_at.strftime("%b %d %Y %r") %>
</p>
<p>
  <strong>Updated at:</strong>
  <%= @status.updated_at.strftime("%b %d %Y %r") %>
</p>
<%= link_to 'Back', statuses_path %> 
<% if @status.user == current_user %> 
	| <%= link_to 'Edit', edit_status_path(@status) %> 
<% end %>
<% if @status.user == current_user || @tagged_statuses %>
   | <%= link_to "Delete", @status, method: :delete, data: { confirm: "Are you sure you want to delete this?"} %> 
<% else %>
  <% if user_signed_in? %>
    <% if current_user.liked? @status %>
      | <%= link_to "Remove from Favourities", remove_from_favourities_url(@status) %>
    <% else %>
      | <%= link_to "Add to Favourities", add_to_favourities_url(@status) %>
    <% end %>
  <% end %>
<% end %>
<p></p>
<p class="report">
  <% unless @status.reported? %>
    <strong><small><%= link_to 'Report!', report_url(@status), data: { confirm: "Are you sure you want to report this?"}  %></small></strong>
  <% else %>
    <small>This status is reported of having abusive content.</small>
  <% end %>
</p>

<div class="comment">
	<p><strong><%= @status.user_comments.count %> comment(s)</strong> | <strong><%= @status.get_likes.size %> pick(s) </strong></p>
	<%= render :partial => 'comment', :collection => @status.user_comments.order("created_at DESC") %> 
	<% if user_signed_in? %>
	  <h3>Add a Comment</h3>
	  <%= render :partial =>'user_comments/form' %>
  <% end %>
</div>