<div id="profile-container" class="row">
    <div id="profile" class="col-md-4 bg-cyan full-height no-padding">
        <%= image_tag "profile.png", :class=>"profile-image" %>

        <label for="" class="title">Name</label>
        <p>
          <%= @user.ivle_name %>
        </p>
        <label for="" class="title">Alias</label>
        <p>
          <%= @user.profile_name %>
        </p>
        <label for="" class="title">Email</label>
        <p>
          <%= @user.email %>
        </p>
        <label for="" class="title">Member Since</label>
        <p>
          <%= @user.created_at.strftime("%b %d %Y") %>
        </p>
        <% if @user == current_user %>
          <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-primary", id:"button-profile" %>
        <% end %>
    </div>
    <div id="status" class="col-md-8 full-height">
      <% if @user == current_user %>
        <h2>Your Posts</h2>
        <div class="status-container">
          <% if @statuses.each do |status| %>
            <div class="status">
              <p><%= link_to status.content, status %></p>
              <div class = "tag">
                <% if status.tags.any? %>
                  <p>Tags:
                  <% status.tags.each do |tag| %>
                    <% if User.search(tag.name) %>
                      <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
                    <% end %>
                    <% if Facility.find_by_name(tag.name) %>
                      <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
                    <% end %>
                  <% end %>
                  </p>
                <% end %>
              </div>
              <div class="meta">
                <%= time_ago_in_words(status.created_at) + " ago " %>
                | <%= status.user_comments.count %> comment(s)
                | <%= status.get_likes.size %> pick(s)
              </div>
            </div>
          <% end.empty? %>
            <p>You have not posted any status yet.</p>
          <% end %>
          <% if @statuses.length > 0 %>
            <%= will_paginate @statuses %>
          <% end %>
        </div>

        <h2>Your Favourite Posts</h2>
        <div class="status-container">
          <% if @liked_statuses.each do |status| %>
            <div class="status">
              <p><%= link_to status.content, status %></p>
              <div class = "tag">
                <% if status.tags.any? %>
                  <p>Tags:
                  <% status.tags.each do |tag| %>
                    <% if User.search(tag.name) %>
                      <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
                    <% end %>
                    <% if Facility.find_by_name(tag.name) %>
                      <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
                    <% end %>
                  <% end %>
                  </p>
                <% end %>
              </div>
              <div class="meta">
                <%= time_ago_in_words(status.created_at) + " ago " %>
                | <%= status.user_comments.count %> comment(s)
                | <%= status.get_likes.size %> pick(s)
              </div>
            </div>
          <% end.empty? %>
            <p>You don't have any favourite status yet.</p>
          <% end %>
        </div>
      <% end %>
      <% if @liked_statuses.length > 0 %>
        <%= will_paginate @liked_statuses %>
      <% end %>

      <h2>Mentioned Posts</h2>
      <div class="status-container">
        <% if @tagged_statuses.each do |status| %>
          <div class="status">
            <p><%= link_to status.content, status %></p>
            <div class = "tag">
              <% if status.tags.any? %>
                <p>Tags:
                <% status.tags.each do |tag| %>
                  <% if User.search(tag.name) %>
                    <%= link_to "@"+tag.name, tagged_url(:tag => tag.name) %>
                  <% end %>
                  <% if Facility.find_by_name(tag.name) %>
                    <%= link_to "#"+tag.name, tagged_url(:tag => tag.name) %>
                  <% end %>
                <% end %>
                </p>
              <% end %>
            </div>
            <div class="meta">
              <%= time_ago_in_words(status.created_at) + " ago " %>
              | <%= status.user_comments.count %> comment(s)
              | <%= status.get_likes.size %> pick(s)
            </div>
          </div>
        <% end.empty? %>
          <p>Sorry, this user is not tagged in any status yet.</p>
        <% end %>
        <% if @tagged_statuses.length > 0 %>
          <%= will_paginate @tagged_statuses %>
        <% end %>
        <div class="extra-link">
          <%= link_to 'Back', users_path %>
          | <%= link_to 'Home', root_path %>
        </div>

      </div>
    </div>
</div>
