<!DOCTYPE html>
<html>
<head>
  <title>NUSGhoss</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "ivle.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container-fluid">
	    	<div class="navbar-header">
		      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
		      		</button>
		      	<%= link_to "NUSGhoss", statuses_path, {:class=>"navbar-brand"} %>
		      	<ul class="nav navbar-nav">
		      		<li><%= link_to "News Feed", statuses_path %></li>
		      	</ul>
		      	<ul class="nav navbar-nav pull-right">
		      		<% if user_signed_in? %>
						<li><%= link_to current_user.email, edit_user_registration_path %></li>
						<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %><li>
					<% else %>
						<li><a href="" id='register'>Register</a></li>
						<li><%= link_to "Log in", new_user_session_path %></li>
					<% end %>
		      	</ul>
		    </div>
	  	</div>
	</nav>
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
		<%= yield %>	
	</div>
	<script type="text/javascript">
		$(function(){
			var apikey = "nt5s4waVtfzugEGRSuW5Z";
			var myapp = new ivle(apikey);

			//TEST AUTH
			var re = /(.*)\/.*/;
			myapp.auth($('#register'), window.location.origin + re.exec(window.location.pathname)[1] + "/users/sign_up");	
		});
	</script>
</body>
</html>
