<!DOCTYPE html>
<html>
<head>
  <title>NUSGhoss</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' %>
  <%= stylesheet_link_tag 'font-awesome', 'statuses', 'sidebar', 'users', 'bootstrap' 
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "ivle.js", "sidebar.js", "active_admin.js", "bootstrap.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
	  	<div class="container-fluid">
	    	<div class="navbar-header">
              <%= link_to "NUSGhoss", root_path, {:class=>"navbar-brand"} %>
              <%= link_to "Users", users_path, {:class => "navbar-brand"} %>
              <%= link_to "Facilities", facilities_path, {:class => "navbar-brand"} %>
              <button type="button" class="navbar-toggle hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
        </div>

        <!-- Main Navbar -->
        <ul class="nav navbar-nav pull-right" id="menu-navbar">
            <li><%= link_to "Admin", new_admin_user_session_path %></li>
            <% if user_signed_in? %>
            <li><%= link_to current_user.profile_name, "/users/" + current_user.id.to_s %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %><li>
            <% else %>
            <li><a href="" id='register'>Register</a></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <% end %>
        </ul>

        <!-- Mobile Sliding Menu -->
        <div class="navbar-collapse col-xs-4 col-sm-3 col-md-2 sidebar sidebar-right sidebar-animate">
            <ul class="nav navbar-nav pull-right">
                <li><%= link_to "Admin", new_admin_user_session_path %></li>
                <% if user_signed_in? %>
                <li><%= link_to current_user.profile_name, "/users/" + current_user.id.to_s %></li>
                <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %><li>
                <% else %>
                <li><a href="" id='register'>Register</a></li>
                <li><%= link_to "Log in", new_user_session_path %></li>
                <% end %>
            </ul>
        </div>
	  	</div>
	</nav>
	<div class="container">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
    <% unless current_page?(new_status_path || edit_status_path) %>
  		<div class="search">
        <%= search_form_for @q, :html => { :class => "form-wrapper cf" } do |f| %>
  	    <%= f.text_field :tags_name_or_content_cont, :id => "search-textfield" %>
  	      <%= f.submit "Search", :id => 'search-button'  %>
          <% end %>
      </div>
    <% end %>
		<%= yield %>
	</div>
  <% unless current_page?(new_status_path) %>
    <div class="round-button">
      <div class="round-button-circle">
          <%= link_to "+", new_status_path, class:"roundbutton create", id:"create-button" %>  
      </div>
    </div>
  <% end %>
	<script type="text/javascript">
		$(function(){
			var apikey = "nt5s4waVtfzugEGRSuW5Z";
			var myapp = new ivle(apikey);

			//TEST AUTH
			var re = /(.*)\/.*/;
			myapp.auth($('#register'), window.location.origin + "/users/sign_up");
		});
	</script>
</body>
</html>
